<h1>
    {{ config.plugins['data-manager'].types[type].list.title|t ?: type|capitalize|e ~ " " ~ "PLUGIN_DATA_MANAGER.ITEMS_LIST"|e|tu|raw }}
</h1>
<div class="">
    {% if config.plugins['data-manager'].types[type].list.columns %}
        <table>
            <thead>
                <tr>
                    {% for column in config.plugins['data-manager'].types[type].list.columns %}
                        <th>{{ column.label|e|t }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in grav.twig.items %}
                    <tr>
                        {% for column in config.plugins['data-manager'].types[type].list.columns %}
                            <td>
                                <a href="{{ type }}/{{ item.route }}">
                                    {% if column.field is iterable %}
                                        {% set value = item.content %}
                                        {% for field in column.field %}
                                            {% set value = value[field] %}
                                        {% endfor %}
                                        {{ value|e }}
                                    {% else %}
                                        {{ item.content[column.field]|e }}
                                    {% endif %}
                                </a>
                            </td>
                        {% endfor %}
                        <td class="right">
                            <a href="{{ type }}/{{ item.route }}?delete" class="error-reverse">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <tbody>
           {% for item in grav.twig.items %}
               <tr>
                   <td>
                       <a href="{{ type }}/{{ item.route }}" class="page-edit">{{ item.name|e }}</a>
                   </td>
                   <td class="right">
                       <a href="{{ type }}/{{ item.route }}?delete" class="error-reverse">
                           <i class="fa fa-trash"></i>
                       </a>
                   </td>
               </tr>
           {% endfor %}
            </tbody>
        </table>
        <div class="button-bar danger">
        <a href="{{ type }}.csv" class="button">{{ "PLUGIN_DATA_MANAGER.DOWNLOAD_AS"|t }} CSV</a>
        </div>
    {% endif %}
</div>
